<!doctype html>
<html lang="en-us">
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {
            background: #E6E6E6;
        }
    </style>
</head>
<body>
    @RenderBody()
        
    <h6 style="font-size:12px; color: #999; position: fixed; bottom: -25px; right: 10px; text-shadow: 0px 2px 3px #fff;">
        @Env.ServerUserAgent
    </h6>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/scripts/handlebars.js"></script>
    <script src="/scripts/jquery.history.js"></script>
</body>
</html>
