@inherits ViewPage<DoorResponse>

@{
    ViewBag.Title = string.Format("Door Competition - Door {0}",Model.DoorID);
}

<div id="door-content">

</div>
    This is door: @Model.DoorID.
    <img src="@Model.Picture.FullSizeURL">
    <p><a href="@Model.VoteURL">Vote</a></p>
    <p><a href="@Model.ClaimURL">Claim</a></p>

<script id="door-template" type="text/x-handlebars-template">

</script>
