@inherits ViewPage<DoorsResponse>

@{
    ViewBag.Title = string.Format("{0} Door Competition - Doors",Model.Event.Code);
}
<h1>@Model.Event.Description Decorated Doors.</h1>

<script id="doors-template" type="text/x-handlebars-template">
    <table>
        {{#each Pictures}}
        <tr>
            <td>
                <p><a href="/Door/{{ID}}"><img src="{{MediumURL}}" alt="{{ID}}" /></a></p>
                <p style="display:block; margin-left:auto; margin-right:auto">
                    <button value="Details" onclick="goTo('{{ID}}');">Details</button>&nbsp;&nbsp;&nbsp;
                    {{#if ../Event.IsOpen }}
                    <button value="Vote" onclick="vote('{{ID}}');">Vote</button>&nbsp;&nbsp;&nbsp;
                    <button value="Claim" onclick="showClaim('{{ID}}');">Claim</button>
                    {{/if}}
                </p>
            </td>
        </tr>
        {{/each}}
    </table>
</script>

<div id="doors-content">

</div>

<script>
    var result = @Html.Raw(@ServiceStack.Text.JsonSerializer.SerializeToString(@Model));
    result.Pictures = shuffleArray(result.Pictures); 
    renderPage();

    function rerender() {
    }

    function renderPage() {
        var source = $("#doors-template").html();
        var template = Handlebars.compile(source);
        var html = template(result);
        $("#doors-content").html(html);
    }
</script>





