@inherits ViewPage<EventsResponse>

@{
    ViewBag.Title = "Door Competition - Events";
}

These are the currently running door decoration competition events.

<table width="100%">
@foreach (var e in Model.Events)
{
    <tr>
        <td><div style="vertical-align: middle;"><a href="/Doors/@e.Code">@e.Description</a></div></td>
        <td><a href="/Doors/@e.Code"><img src="@e.LogoURL" style="vertical-align: middle;" /></a></td>
    </tr>
}
</table>
