@inherits ViewPage

@{
    ViewBag.Title = "Door Competition";
    string where = "";
    if(System.Configuration.ConfigurationManager.AppSettings.AllKeys.Contains("currentEvent")) {
        var curEvent = System.Configuration.ConfigurationManager.AppSettings["currentEvent"];
        where = string.Format("Doors/{0}", curEvent);
        if (!string.IsNullOrEmpty(curEvent))
        {
            Gibraltar.Agent.Log.Information("Feature", "Home Page", "Home page to {0}.",where);
            Response.Redirect(where);
        }
        else {
            Gibraltar.Agent.Log.Information("Feature", "Home Page", "Home page to active events.");
            Response.Redirect("Events");
        }
    }
    else
    {
        Gibraltar.Agent.Log.Information("Feature", "Home Page", "Home page to active events.");
        Response.Redirect("Events");
    }
}

This is the default door decoration competition page. Check out our <a href="Events">active events</a>.
